$dark-color: #58697e;
$serif-font: 'Fraunces', serif;
$sans-font: 'Commissioner', 'sans-serif';

*{
    font-family: "Commissioner", sans-serif;
    letter-spacing: 2px;
    box-sizing: border-box;
    margin: 0;
    color: $dark-color;
}

nav {
    background-color: $dark-color;
    color: #ffffff;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    padding: 0 3vw;
}

ul {
    padding-left: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
}

li {
    list-style: none;
    text-transform: uppercase;
    cursor: pointer;
    align-items: center;
    padding: 10px;
}

li:hover {
    border: solid 3px #ffffff;
    border-radius: 300px;
    background-color: white;
    color: #58697e;
}

h1, h2 {
    color: #58697e;
    font-family: $sans-font;
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
    align-items: center;
}

.headshot {
    height: 60vh;
}

.paragraph {
    margin: auto;
    width: 30vw;
    padding: 20px 0;
}

.footer {
    background-color: #58697e;
    position: absolute;
    bottom: 0;
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    color: #ffffff;
    padding-left: .5vw;
}

.footer ul li {
    padding: 0;
}

li img {
    height: 4vh;
    padding: 0 0.5vw;
}

.footer ul li:hover {
    border: 0;
    background: none;
}

a {
    font-family: 'Commissioner', serif;
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #58697e;
}