body {
    font-family: "Courier";
    letter-spacing: 2px;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
}

.nav {
    background-color: #abc123;
    color: #ffffff;
    height: 25vh;
    padding-left: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
}

li {
    list-style: none;
    text-transform: uppercase;
    cursor: pointer;
    align-items: center;
    padding: 10px;
}

li:hover {
    border: solid 3px #ffffff;
    border-radius: 300px;
    background-color: white;
    color: #abc123;
}

h1, h2 {
    color: #abc123;
}

h2 {
    cursor: pointer;
}

.paragraph {
    background-color: #abc123;
    margin: auto;
    color: #ffffff;
    width: fit-content;
    padding: 20px;
    border-radius: 5px;
}